node_modules/archiver
node_modules/async
node_modules/mkdirp
node_modules/mocha
node_modules/nopt
node_modules/npmlog
node_modules/request
node_modules/rimraf
node_modules/shelljs
node_modules/should
node_modules/ssh2
node_modules/temp
node_modules/stream-buffers
node_modules/.bin
node_modules/hexy
