[submodule "node_modules/tar"]
	path = node_modules/tar
	url = ../node-tar.git
[submodule "enyo"]
	path = enyo
	url = ../enyo.git
[submodule "node_modules/ares-generator"]
	path = node_modules/ares-generator
	url = ../ares-generator.git
[submodule "templates/bootplate-moonstone"]
	path = templates/bootplate-moonstone
	url = ../bootplate-moonstone.git
[submodule "templates/onyx"]
	path = templates/onyx
	url = ../onyx.git
