/node_modules/.bin
/node_modules/async
/node_modules/base64-stream/
/node_modules/busboy/
/node_modules/fstream
/node_modules/graceful-fs
/node_modules/mkdirp
/node_modules/mocha
/node_modules/nopt
/node_modules/npm
/node_modules/npmlog
/node_modules/request
/node_modules/rimraf
/node_modules/shelljs
/node_modules/should
/node_modules/sprintf
/node_modules/ssh2
/node_modules/stream-buffers
/node_modules/temp
/node_modules/combined-stream
/node_modules/express
/node_modules/readline
/node_modules/rsync
/node_modules/semver
/node
*~
.DS_Store
