<!DOCTYPE html>
<html>
<head>
<style type="text/css">
body {
		width: 100%; 
		height: 100%;
		background-color: #202020;
} 

div {
	    position:absolute; 
		height:100%; 
		width:100%;
		display: table;
}

h1 {
	    display: table-cell;
		vertical-align: middle;
		text-align:center;
		color: #FFFFFF;
}
</style>
	<script src="webOSjs-0.1.0/webOS.js" charset="utf-8"></script>
	<script type="text/javascript">
	   //sample code for calling LS2 API
       var lunaReq= webOS.service.request("luna://com.palm.systemservice",
        {
            method:"clock/getTime",
            parameters:{},
            onSuccess: function (args) {
				console.log("UTC:", args.utc);
            },
            onFailure: function (args) {
            }
        });
	</script>
</head>
<body>
	<div> 
		<h1>Hello World!</h1>
	</div>
</body>
</html>
